<h1><%= @type.name %></h1>

<ul>
  <% @type.instrument.each do | instrument | %>
    <li>
      <%= link_to instrument.name, instrument_path(instrument.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Types", types_path %>
<%= link_to "Home", root_path %>