<div class="container px-5 py-6 has-background-white-bis">
  <div class="content is-medium mb-6">
    <h1 class="title is-1"><%= @type.name %></h1>
      <% if @type.name == "Keyboard" %>
        <p>
          A percussion instrument is probably best defined as one where a
          resonating surface is struck by the player, either by hand or by some
          form of stick. These divide roughly into tuned instruments which have
          a definite pitch or series of pitches, and those of indefinite pitch.
          <strong>Some images may take long to load, feel free to refresh the
          page so it registers the image associated to the instrument.</strong>
        </p>
      <% elsif @type.name == "Studio" %>
        <p>
          The typical recording studio consists of a room called the "studio" or
          "live room" equipped with microphones and mic stands, where
          instrumentalists and vocalists perform; and the "control room", where
          audio engineers, sometimes with record producers, as well, operate
          professional audio mixing consoles, effects units, or computers with
          specialized software suites to mix, manipulate (e.g., by adjusting the
          equalization and adding effects) and route the sound for analog or
          digital recording. The engineers and producers listen to the live music
          and the recorded "tracks" on high-quality monitor speakers or
          headphones.
        </p>
      <% elsif @type.name == "String Instrument" %>
        <p>
          String instruments, stringed instruments, or chordophones are musical
          instruments that produce sound from vibrating strings when a performer
          plays or sounds the strings in some manner. Musicians play some string
          instruments by plucking the strings with their fingers or a
          plectrum—and others by hitting the strings with a light wooden hammer
          or by rubbing the strings with a bow. In some keyboard instruments,
          such as the harpsichord, the musician presses a key that plucks the
          string. Other musical instruments generate sound by striking the
          string.
        </p>
      <% elsif @type.name == "Percussion" %>
        <p>
          A percussion instrument is a musical instrument that is sounded by
          being struck or scraped by a beater including attached or enclosed
          beaters or rattles struck, scraped or rubbed by hand or struck
          against another similar instrument. Excluding zoomusicological
          instruments and the human voice, the percussion family is believed
          to include the oldest musical instruments.
        </p>
      <% end %>
  </div>

  <table class="table is-striped is-fullwidth is-hoverable mt-6">
    <thead>
      <tr class="is-size-5">
        <th>Keyboard Instrument</th>
        <th>Image</th>
        <th>Price (CAD)</th>
      </tr>
    </thead>

    <tbody>
        <% @type.instrument.each do | instrument |%>
          <tr>
            <td class="is-size-5">
              <%= link_to instrument.name, instrument_path(instrument.id) %>
            </td>

            <td>
              <% if instrument.image.present? %>
                <%= image_tag instrument.image_pagination_display, alt: "#{instrument.name} #{instrument.type.name}" %>
              <% else %>
                <strong>
                  No Associated Image for this instrument
                </strong>
              <% end %>
            </td>

            <td>
              $<%= instrument.price %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>