<h1>DibbyNote Store</h1>

<ul>
  <% @instruments.each do | instrument |%>
    <li>
      <%= link_to instrument.name, instrument %>

      <% if instrument.image.present? %>
        <%= image_tag instrument.image, alt: instrument.name %>
      <% end %>
    </li>
  <% end %>
</ul>