<footer class="footer">
  <div>
    <div>
      <h1>Products & Services</h1>
    </div>

    <div>
      <ul>
        <li>Instruments</li>
        <li>Lessons</li>
      </ul>
    </div>
  </div>

  <div>
    <h1>DibbyNote</h1>
  </div>

    <div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>FAQ</li>
      </ul>
    </div>
  </div>

  <div>
    <p>
      Email us at <a>custsupp.dibbynote@gmail.com</a>
    </p>
  </div>

  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <span class="has-text-info">David Montanez</span>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>